<div class="job-board">
    <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
            <div class="column-title">
                <h3>{{ column.name }}</h3>
            </div>
            <div class="jobs-container" cdkDropList [cdkDropListData]="column.jobOffer"
                (cdkDropListDropped)="drop($event)">
                <div class="job-card" *ngFor="let offer of column.jobOffer" cdkDrag>
                    {{ offer.title }} <br />
                    {{ offer.company }}
                    <div class="job-actions">
                        <button id="delete" *ngIf="column.name === 'Done'" (click)="delete(offer._id)">🗑️</button>
                        <button id="view">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>