<div class="job-board">
    <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
            <mat-card>
                <mat-card-title class="column-name">{{ column.name }}</mat-card-title>
                <div class="jobs-container" cdkDropList [cdkDropListData]="column.jobOffer"
                    (cdkDropListDropped)="drop($event)">
                    <div class="job-card" *ngFor="let jobOffer of column.jobOffer" cdkDrag>
                        <div>
                            {{ jobOffer.title }} <br />
                            {{ jobOffer.company }}
                        </div>
                        <div class="job-card-btns">
                            <button class="buttons" mat-raised-button *ngIf="column.name === 'Done'"
                                (click)="openDeleteDialog(jobOffer)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button class="buttons" mat-raised-button (click)="openViewDialog(jobOffer)">View</button>
                        </div>
                    </div>
                </div>
                <mat-card-actions class="add-new-btn" *ngIf="column.name === 'Applied'">
                    <button mat-raised-button color="accent" (click)="openScrapeDialog()">
                        <mat-icon>add_circle</mat-icon>Add new
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>