.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    background: var(--color-container-background);
    border-radius: 10px;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#jobForm, #scrapeForm{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form-button {
    display: flex;
    justify-content: flex-end;
}

.spinner-container {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    width: 100% !important;
}